In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('examples/ex1.csv')

In [3]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_csv('examples/ex2.csv') #with no header

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [5]:
pd.read_csv('examples/ex2.csv', header = None) #if the dataset has no header

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [7]:
pd.read_csv('examples/ex2.csv', names = ['a','b','c','d','message']) #create header with names function

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
pd.read_csv('examples/ex2.csv', names = ['a','b','c','d','message'], index_col = 'message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12